*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    align-items: center;
    min-width: 372px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor-img{
    display: flex;
    align-content: space-between;
    width: 50%;
}

.r-side div{
    width: 50%;
    display: flex;
    font-weight: bold;
}

.l-side{
    width: 50%;
}

a{
    color: black;
    text-decoration: none;
}

.perfil{
    height: 50px;
}

.apps{
    height: 2.3rem;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.r-side{
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 225px;
}

.sobre{
    margin-left: 5%;
    margin-right: 0.5rem;
}

.cont-apps{
    width: 50%;
    display: flex;
}

.cont-perfil{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.r-padre{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.contenedor-logo{
    display: flex;
    height: 300px;
    justify-content: center;
    width: 100%;
}

.logo{
    height: 10rem;
    margin-top: auto;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-bar{
    border-radius: 20px;
    height: 4rem;
    width: 60%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: 350px;
    max-width: 540px;
    border-width: 0.1rem;
    border-color: rgb(133, 132, 132);
    border-style: solid;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botones input{
    height: 4rem;
    width: 15rem;
    border-radius: 15px;
    border-width: 0;
    background-color: whitesmoke;
    cursor: pointer;
}

.boton-1{
    margin-right: 1rem;
}

.boton-2{
    margin-left: 1rem;
}

.botones input:hover{
    background-color: rgb(199, 199, 199);
}
.search-bar:hover{
    box-shadow: 2px 3px 5px 5px gray;
}

footer{
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pais{
    background-color: rgb(221, 219, 219);
    margin-top: 277px;
    height: 5rem;
    display: flex;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 0.1rem;
    border-color: gray;
    min-width: 372px;
}

.pais p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
}

.cont-footer{
    background-color: rgb(221, 219, 219);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 372px;
}

.emision{
    height: 5rem;
    display: flex;
    width: 100%;
}

.emision a{
    margin: auto auto;
}

.publicidad{
    height: 5rem;
    display: flex;
    width: 100%;
}

.publicidad a{
    margin: auto auto;
    padding: 5px;
}

.privacidad{
    display: flex;
    height: 5rem;
    width: 100%;
}

.privacidad a{
    margin: auto auto; 
    padding: 5px;   
}